$pink : #ea6c6c;
$gray: #545454;

.joinPage {
    width: 500px;
    height: 520px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        margin-bottom: 50px;
    }

    form {
        font-size: 13px;
        width: 350px;
        display: flex;
        flex-direction: column;
        
        div {
            display: flex;
            justify-content: space-between;

            .join-error {
                opacity: 0.8;
                color: $pink;
                text-align: left;
                margin: 0;
            }

            a {
                color: $gray;
                text-decoration: none;
            }
        }

        input {
            width: 100%;
            height: 50px;
            border-style: none;
            border-radius: 10px;
            border: 1px solid #c4c4c4;
            box-sizing: border-box;
            margin-top: 5px;
            appearance: none;
            padding: 10px 20px;

            &[type='submit'] {
                border: none;
                color: white;
                background-color: $pink;
            }
        }
    }
}