$pink : #ea6c6c;
$gray : #c4c4c4;
$darkgray : #545454;

.listPage {
    width: 1000px;
    height: 100%;
    background-color: white;
    padding: 100px;    

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 20px;

        input {
            width: 200px;
            height: 40px;
            border-style: none;
            border: 1px solid $darkgray;
            border-radius: 5px;
            padding: 10px;
            appearance: none;
        }

        button {
            width: 80px;
            height: 40px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: $pink;
        }
    }

    form {
        width: 400px;
        height: 250px;
        color: $gray;
        border: 1px solid $darkgray;
        border-radius: 10px;
        margin: 40px 0;
        position: relative;

        div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;

            label {
                color: $darkgray;
                font-weight: bold;
                width: 280px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                input {
                    text-align: right;
                    width: 180px;
                    height: 40px;
                    border: none;
                    border-bottom: 1px solid $gray;
                    margin-left: 10px;
                    margin-top: 10px;
                    padding: 10px 20px;
                }
            }
        }

        button {
            font-size: 15px;
            width: 100%;
            height: 50px;
            color: white;
            background-color: $pink;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
            position: absolute;
            bottom: -1px;
        }
    }

    ul {
        margin: 40px 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            margin-bottom: 40px;

            &:hover {
                background-color: rgba(196, 196, 196, 0.3);
            }
        }
    }
}